<header class="main-header text center">
  {{#if @site.cover_image}}

  <div class="cover" style="background-image: url({{@site.cover_image}})">
    <div class="cover-mask padding">
      {{#if @site.logo}}
      <nav>
        <a href="{{@site.url}}" class="inline blog-logo-extra-border border circle">
          <img src="{{@site.logo}}" alt="{{@site.title}}" class="blog-logo center border circle" />
        </a>
      </nav>
      {{/if}}
      <div class="site_width">
        <div class="blog-title"><a href="{{@site.url}}">{{@site.title}}</a></div>
        {{!-- p class="blog-description">{{@site.description}}</p> --}}
	<p class="blog-description"><a href="/about-me">About me</a></p>
      </div>
    </div>

    {{!
      Here, you can add social icons.
    }}
    {{!> "social"}}
  </div>

  {{else}}

  <div class="no-cover site_width padding border solid bottom">
    {{#if @site.logo}}
    <nav>
      <a href="{{@site.url}}" class="inline blog-logo-extra-border border circle">
        <img src="{{@site.logo}}" alt="{{@site.title}}" class="blog-logo center border circle" />
      </a>
    </nav>
    {{/if}}
    <div class="site_width">
      <div class="blog-title"><a href="{{@site.url}}">{{@site.title}}</a></div>
      <p class="blog-description">{{@site.description}}</p>
    </div>

    {{!
      Here, you can add social icons.
    }}
    {{!> "social"}}
  </div>

  {{/if}}
</header>
